.coin{
    height:200px;
    width:200px;
}
@keyframes flip_animation {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
  }
.flip{
    animation-name: flip_animation;
    animation-duration: 1s;
}
.coin-container{
    border:2px solid purple;
    width:max-content;
    margin:auto;
    padding:2%;
}
.coin-container button{
    width:15em;
    padding:0.95em;
    border-radius: 3px;
    border:none;
    outline:none;
    cursor:pointer;
    background:black;
    color:white;
    margin-top:1%;
}
.coin-container button:active{
    transform:scale(0.9)
}